/*
    Alapok
*/
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
*{box-sizing: border-box; padding: 0; margin: 0; font-family: "Red Hat Display", sans-serif;}
img{width: 100%;}
body{background-image: url("./img/fekete1.png");color: white; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;}
hr{width: 30%; margin: 0 auto;}

/*
    Színek változói
*/

:root{
    --light-green: rgba(181, 228, 140, 1);
    --light-green-2: rgba(153, 217, 140, 1);
    --turquoise: rgba(52, 160, 164, 1);
    --bondi-blue: rgba(22, 138, 173, 1);
    --lapis-lazuli: rgba(30, 96, 145, 1);
}

/*
    Header
*/

header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    font-size: 1.3rem;
}
header h1{
  position: relative;
  font-size: 3.5em;
  Letter-spacing: 15px;
  color: #0e3742;
  text-transform:uppercase;
  text-align:center;
  line-height: 0.70em;
  outline:none;
  animation: animate 5s linear infinite;
}
@keyframes animate{
  0%,100%{
    color: #fff;
    text-shadow:
    0 0 10px #03bcf4,
    0 0 20px #03bcf4,
    0 0 40px #03bcf4,
    0 0 80px #03bcf4,
    0 0 160px #03bcf4
    ;
  }
}
header img{width: 3.7rem;}
/*
    A container div elem alapjainak beállítása.
*/

.container .correct {
  background-color: #6aaa64;
  border-color: #6aaa64;
  color: white;
}

.container .found {
  background-color: #c9b458;
  border-color: #c9b458;
  color: white;
}

.container .wrong {
  background-color: #787c7e;
  border-color: #787c7e;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 60vh;
  flex-direction: column;
  margin-top: 40px;
  font-weight: bold;
  margin-bottom: 40px;
  position: relative;
}
/*
    Popup
*/

.popup {
  display: none;
  background-color: rgba(255, 255, 255, 1);
  z-index: 3;
  position: absolute;
  top: 1.5rem;
  left: 25%;
  right: 25%;
  height: 50vh;
  justify-content: center;
  align-items: center;
  }
/*
    Tippelt betű és billentyűzet beállításai
*/
.key-guess {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border: 2px solid #d3d6da;
  height: 50px;
  width: 50px;
  vertical-align: baseline;
  color: #fff;
  margin: 4px;
}

.key-guess::before {
  content: '';
}

#keyboard {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.key {
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #d3d6da;
  border: 0;
  height: 50px;
  width: 43px;
  margin: 2px;
  cursor: pointer;
  color: #1a1a1b;
}

#enter{
  width: 60px;
}
.ico{
    display: flex;
    align-items: center;
    width: auto;
    position: fixed;
    left: 2rem;
    cursor: pointer;
}
.ico p{
    position: absolute;
    top: 5rem; left: .5rem;
}
header p{
    width: 63vh;
    border-radius: 5px;
    letter-spacing: 1px;
    background-color: black;
}

.guess-input {
    width: 50px;
    height: 50px;
    margin: 5px; 
    border: 3px solid #ccc;
    border-radius: 5px; 
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
}
#submitButton{
    background-color: green;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;
}

/*
    Footer 
*/
footer {
  height: 10vh;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: last baseline;
  padding: 10px;
  letter-spacing: 1px;
  text-align: center;
}

footer ul {
  display: flex;
  column-gap: 15rem;
}

footer li {
  list-style-type: none;
  display: flex;
  font-size: 1.125rem;
}
#egy, #masodik{
  cursor: pointer;
  transition: transform 0.3s ease;
}
#egy:hover, #masodik:hover {
  transform: scale(1.1);
}
